# ========================================================
# Network & System Language Overrides (.gitattributes)
# ========================================================

*Network*/**/*.md linguist-language=HCL
*System*/**/*.md linguist-language=Shell
.obsidian/** linguist-vendored
